@import "./reset.css";
@import "https://at.alicdn.com/t/font_1972033_6zg6ak4dxh3.css";
.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%
}

.same {
    width: 950px;
    margin: 0 auto;
}